
table, th, td {
    border: 1px solid black;
    background-color: rgb(27, 109, 31);
    font-size: xx-large ;
  }
  .title{
      background-color: brown;
  }
  fieldset{
      display: inline-flex;
      margin: 5%;
  }